body {
    background: #ccc;
    color: #000;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */

}

#cougar {
  background: #FFE4CD;
  clear:both;
  padding-top: 150px;

}

#lion {
  background: #FFCA9B;

}

#tiger {
  background: #FFBD82;

}

section {
  padding: 40px;
  -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
        box-sizing:border-box;
}

article {
  width: 60%;
  padding-top: 2%;
  padding-left: 20%;
  -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
        box-sizing:border-box;
  margin-left: 500px;

}

img {
    display: block;
    margin: 5% 0%;
    width: 90%;
}

 h2, section > p {
  text-align: center;
  padding-right: 9%;
  margin-bottom: -2%;
  -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
        box-sizing:border-box;

}

footer {
  text-align: center;
  padding: 0 420px;
  -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
        box-sizing:border-box;

}

h1 {
  width: 200px;
  float:left;
  clear:both;
  font-size: 220%;
  margin-left: 10%;
  -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
        box-sizing:border-box;

}

header {
  width: 100%;
  position: fixed;
  background: #ccc

}

div {
  float:left;
  clear:both;
  width: 50%;

}

/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue

   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */

a { color: #379CB2;
text-decoration: none;}
a:hover { color: #82E8FF; }
nav {
  float:right;


}

nav ul {
  list-style: none;
  margin-top: 50px;
  margin-right: 140px;
  font-size: 150%;
  -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
        box-sizing:border-box;

}

nav li {
  float:left;
  margin-left: 20px;
  -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
        box-sizing:border-box;

}
